In [1]:
import pandas as pd

In [2]:
data_ventes = {
    "produit": ["A", "B", "A", "C", "B", "C", "A", "C", "B"],
    "quantite": [2, 1, 1, 3, 2, 1, 4, 2, 3]
}

ventes = pd.DataFrame(data_ventes)

In [3]:
data_produits = {
    "produit": ["A", "B", "C"],
    "categorie": ["Accessoires", "Accessoires", "Premium"],
    "prix": [8, 15, 30]
}

produits = pd.DataFrame(data_produits)

In [6]:
df = pd.merge(ventes,produits, on="produit")
df["ca"] = df["quantite"] * df["prix"]
resume = df.groupby(["categorie"]).agg(
    ca_total=("ca", "sum"),
    ca_moyen=("ca", "mean")
).reset_index()
resume = resume.sort_values(by="ca_total", ascending=False)

resume

     categorie  ca_total   ca_moyen
1      Premium       180  60.000000
0  Accessoires       146  24.333333